<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta Eliminada</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; background-color: #f0f0f0; }
        .container { margin: 50px auto; padding-left: 20px; padding-right: 20px; padding-top: 50px;  padding-bottom: 50px;max-width: 600px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .logo, .success-image { max-width: 100px; margin-bottom: 20px; }
        .message { font-size: 1.2em; color: #a31717; margin-bottom: 50px; }
        .message-black { font-size: 1.2em; color: #000000; margin-bottom: 50px; }
    </style>
</head>
<body>
    <div class="container">
        <img src="/imgs/logo.png" alt="Logo" class="logo">
        <h1>Cuenta Eliminada</h1>
        <p class="message">Tu cuenta ha sido eliminada correctamente.</p>
        <img src="/imgs/gatosad.png" alt="Imagen de éxito" class="success-image">
    

        <p class="message-black">Puedes cerrar esta ventana.</p>
    </div>
</body>
</html>
